replicaCount: 1

image:
  repository: ghcr.io/openupsa/agari-folio
  pullPolicy: "Always"
  tag: "staging" #main/staging

service:
  type: ClusterIP
  port: 80
  targetPort: 8000

# Folio application configuration
folio:
  auth:
    keycloak:
      host: "https://keycloak-staging.openup.org.za" #ilifu/staging
      realm: "agari"
      issuer: "http://keycloak:8080/realms/agari"
      clientId: "dms"
      clientSecret: "dms-secret"
  database:
    vendor: postgres
    host: "folio-db"
    port: "5432"
    name: "folio"
    user: "admin"
    password: "folio-db-pass-123"
    pool:
      size: 10
      maxOverflow: 20
      recycle: 3600
      preping: true
      timeout: 30
    options: "?connect_timeout=10&application_name=folio"

  overture:
    score: "http://score:8087"
    song: "http://song:8080"

ingress:
  enabled: true
  className: private
  annotations:
    nginx.ingress.kubernetes.io/enable-cors: "true"
    nginx.ingress.kubernetes.io/cors-allow-origin: "*"
    nginx.ingress.kubernetes.io/cors-allow-methods: "GET, POST, PUT, DELETE, OPTIONS"
    nginx.ingress.kubernetes.io/cors-allow-headers: "DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Authorization"
    nginx.ingress.kubernetes.io/proxy-body-size: "100m"
  hosts:
    - host: folio-staging.openup.org.za #ilifu/staging
      paths:
        - path: /
          pathType: Prefix
  tls: []

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 200m
    memory: 256Mi

nodeSelector: {}

tolerations: []

affinity: {}
