replicaCount: 1

fullnameOverride: "maestro"

url:
  hostname: "maestro-ilifu.openup.org.za" # ilifu/staging

image:
  repository: ghcr.io/overture-stack/maestro
  pullPolicy: IfNotPresent
  tag: "4.3.0"

nameOverride: ""

service:
  type: ClusterIP
  port: 11235

maestro:
  failureLog:
    enabled: true
    dir: "app/logs/maestro"
  
  logging:
    level:
      root: "INFO"
  
  notifications:
    slack:
      enabled: false
  
  repositories:
    - code: "song.overture"
      url: "http://song:8080"
      name: "Overture"
      organization: "Overture"
      country: "CA"
      auth:
        type: "oauth2"
        clientId: "dms"
        clientSecret: "dms-secret"
        tokenUrl: "http://keycloak:8080/realms/agari/protocol/openid-connect/token"
        scope: "song.READ"
  
  elasticsearch:
    cluster:
      nodes: "http://elasticsearch:9200"
    client:
      basicAuth:
        enabled: false
        user: ""
        password: ""
      trustSelfSignCert: true
    indexes:
      analysisCentric:
        enabled: false
      fileCentric:
        enabled: true
        name: "agari-index"
        alias: "file_centric"
  
  spring:
    mvc:
      async:
        requestTimeout: -1
    cloud:
      stream:
        kafka:
          binder:
            brokers: "kafka-kafka-bootstrap.agari-kafka.svc:9092"
        bindings:
          songInput:
            destination: "song-analysis-prod" # prod/staging

  # Swagger Configuration
  springdoc:
    swaggerui:
      path: "/swagger-api"

  # Management Configuration
  management:
    health:
      elasticsearch:
        enabled: false

resources:
  limits:
    cpu: 500m 
    memory: 1.5Gi
    ephemeral-storage: 2Gi
  requests:
    cpu: 100m 
    memory: 512Mi
    ephemeral-storage: 1Gi

probes:
  liveness:
    enabled: false
    httpGet:
      path: /actuator/health
      port: http
    initialDelaySeconds: 300 
    periodSeconds: 60        
    timeoutSeconds: 10
    failureThreshold: 5
  
  readiness:
    enabled: true
    tcpSocket:
      port: 11235
    initialDelaySeconds: 90 
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 3

ingress:
  enabled: true
  className: "private"
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: "100m"
  hosts:
    - host: maestro-ilifu.openup.org.za # ilifu/staging
      paths:
        - path: /
          pathType: Prefix

persistence:
  enabled: false

nodeSelector: {}
tolerations: []
affinity: {}
