replicaCount: 1

fullnameOverride: "elasticsearch"

url:
  hostname: "elasticsearch.local"

image:
  repository: docker.elastic.co/elasticsearch/elasticsearch
  pullPolicy: IfNotPresent
  tag: "7.17.15"

nameOverride: ""

service:
  type: ClusterIP
  port: 9200

elasticsearch:
  cluster:
    name: "workflow.elasticsearch"
  
  discovery:
    type: "single-node"
  
  security:
    enabled: false
  
  java:
    opts: "-Xms300m -Xmx300m"
  
  network:
    host: "0.0.0.0"

persistence:
  enabled: true
  storageClass: "cinder-csi"
  size: 10Gi
  accessMode: ReadWriteOnce

# Add security context to fix permissions
podSecurityContext:
  fsGroup: 1000

securityContext:
  runAsUser: 1000
  runAsGroup: 1000
  runAsNonRoot: true

resources:
  limits:
    cpu: 300m
    memory: 1Gi
  requests:
    cpu: 100m
    memory: 300Mi

probes:
  liveness:
    enabled: false 
  readiness:
    enabled: true
    tcpSocket:
      port: 9200
    initialDelaySeconds: 60 
    periodSeconds: 15
    timeoutSeconds: 10
    failureThreshold: 6

ingress:
  enabled: true
  className: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: "100m"
  hosts:
    - host: elasticsearch.local
      paths:
        - path: /
          pathType: Prefix

nodeSelector: {}
tolerations: []
affinity: {}
