replicaCount: 1

image:
  repository: ghcr.io/methodlab/agari-frontend
  tag: v0.0.29
  pullPolicy: Always

service:
  type: ClusterIP
  port: 80
  targetPort: 3000

ingress:
  enabled: true
  className: private
  hosts:
    - host: agari-staging.openup.org.za # agari/agari-staging
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls:
    - secretName: agari-staging-tls-cert # agari/agari-staging
      hosts:
        - agari-staging.openup.org.za # agari/agari-staging

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

readinessProbe:
  httpGet:
    path: /
    port: 3000
  initialDelaySeconds: 5
  periodSeconds: 10
  failureThreshold: 3

livenessProbe:
  httpGet:
    path: /
    port: 3000
  initialDelaySeconds: 30
  periodSeconds: 20
  failureThreshold: 5

nodeSelector: {}

tolerations: []

affinity: {}